.komy {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 47%, rgba(245,245,245,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,1)), color-stop(100%, rgba(245,245,245,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 47%, rgba(245,245,245,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 47%, rgba(245,245,245,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 47%, rgba(245,245,245,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 47%, rgba(245,245,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
	padding-top:45px;
}

.komy .wrapper > div {
	display: inline-block;
	vertical-align: top
}

.komy .wrapper  .block-1 {
	width: 55%;
}

.komy .wrapper  .block-2 {
	width: 43%;
	margin-left: 15px;
	font: 300 14px/25px 'Roboto Condensed', sans-serif;
}

.komy .wrapper  .block-2 span {
	font-weight: 400
}

.komy .wrapper .block-1 > div:nth-child(1) {
	border-left:8px solid #e5d484;
	padding-left: 30px;
	font: 300 18px/25px 'Roboto Condensed', sans-serif;
	margin-bottom: 30px;
	width: 75%;
}

.komy .wrapper .block-1 > div:nth-child(1) p:nth-child(1) {
	font: 700 24px/25px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px
}

.komy .wrapper .block-1 > div:nth-child(1) p:nth-child(2) span {
	font-weight: 400
}

.text {
	font: 300 16px/22px 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 0 30px;
}
.item {
  border: 2px solid #606060;
  height: 120px;
  background: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Чтобы текст не залезал на наши будущие срезы */
  padding: 0 20px;
  width: 80%;
}

/* Перекрашиваем четные трапеции */

.item:nth-child(odd) {
  background: #606060;
  color: #fff;
}
/* Подложки, для имитации границы */

.item::before,
.item::after,
.item .border {
  content: '';
  display: block;
  height: 100%;
  width: 80px;
  position: absolute;
}

/* Нижний слой подложки для цвета границы */

.item::before,
.item::after {
  background: #606060;
  top: 0;
}

/* Верхний слой подложки для "среза" прямоугольника */

.item .border {
  background: #fff;
  height: calc(100% + 4px);
  top: -2px;
}

/* Наклон среза для четных трапеций */

.item:nth-child(even)::before,
.item:nth-child(even)::after,
.item:nth-child(even) .border.left {
  transform: skew(10deg);
}

.item:nth-child(even)::after,
.item:nth-child(even) .border.right {
  transform: skew(-10deg);
}

/* Наклон среза для нечетных трапеций */

.item:nth-child(odd)::before,
.item:nth-child(odd)::after,
.item:nth-child(odd) .border.left {
  transform: skew(-10deg);
}

.item:nth-child(odd)::after,
.item:nth-child(odd) .border.right {
  transform: skew(10deg);
}

/**
 * Выравниваем нижний и верхний слой подложки друг относительно друга
 * Учитываем левый и правый срез
 */

.item::before {
  left: -70px;
}
.item .border.left {
  left: -72px;
}
.item::after {
  right: -70px;
}
.item .border.right {
  right: -72px;
}

/**
 * ::after всегда последний, поэтому надо выставить z-index для правого верхнего слоя
 */

.item .border.right {
  z-index: 1;
  background: #f5f5f5;
}
.block-2 p:nth-child(1) {
	font: 700 24px/36px 'Roboto Condensed', sans-serif;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 80px
}

.block-2 .btn {
margin: 40px auto 0;
    display: block;
      background: #a0c79b;
    color: #ffffff;
    font: 700 16px/30px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 35px;
    min-width: 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 15px;
    border: 0;
    border-bottom: 4px solid #707a6f;
}

.wrapper {
  width:75%;
  margin:0 auto
}

p {
  margin:0;
  padding:0
}